@font-face {
   font-family: 'GaramondPremrPro';
   font-display: swap;
   src: url('file:///C:/Users/QuanPhucThinh/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-10-23_103614/fonts/GaramondPremrPro/font.ttf');
}
